extends layout

block titre
    h2 Ajouter une catégorie

block content
    //form(method='post',action='/liens/creerLien')

    //if utilisateur != undefined
        if utilisateur.role == "admin"
            form(method='post',action='/utilisateur/creerCategorie/')
                p
                    label(for='Nom') Nom de la catégorie :
                    input#Nom(type='text', name='Nom', placeholder='Nom de la catégorie', size='30', maxlength='20')
                    label(for='Description') Description de la catégorie :
                    textarea#Description(name='Description') Sans description
                    input(type='hidden', name="users", value='#{utilisateur.id}')

                    input(type="submit",value="Valider")


    form(method='post',action='/utilisateur/creerCategorie/')
        p
            label(for='Nom') Nom de la catégorie :
            input#Nom(type='text', name='Nom', placeholder='Nom de la catégorie', size='30', maxlength='20')
            label(for='Description') Description de la catégorie :
            textarea#Description(name='Description') Sans description
            input(type='hidden', name="users", value='#{utilisateur.id}')

            input(type="submit",value="Valider")