extends layout
block titre
  h2 Catégories
block content
  ul
    for categorie,i in tab_categories
      li
        a(href='/produits/categories/'+ categorie.nom) #{categorie.nom}

  if utilisateur!=undefined
    if utilisateur.role=="admin"
      p
        a(href="/utilisateur/creerCategorie") Ajouter une catégorie


