extends layout
block titre
    h2 Connexion
block content
    form(method='post',action="/login")
        .paraph
            p
                br
                label(for='nomUtilisateur') Nom d'utilisateur :
                input#nomUtilisateur(type='text', name='username', placeholder="Nom d'utilisateur")
            p
                br
                label(for='mdpUtilisateur') Mot de passe :
                input#mdpUtilisateur(type='password', name='password', placeholder="Mot de passe")
            p
                br
                input(type="submit" value="Connexion")

            if message
                p #{message}

            p
                br
                a(href="/utilisateur/inscription") Par encore inscrit ? Créer un compte.
