extends layout
block titre
    h2 Connexion
block content
    form(method='post',action="#/utilisateur/connexion")
        .paraph
            p
                br
                label(for='nomUtilisateur') Nom d'utilisateur :
                input#nomUtilisateur(type='text', name='nomUtilisateur', placeholder="Nom d'utilisateur")
            p
                br
                label(for='mdpUtilisateur') Mot de passe :
                input#mdpUtilisateur(type='password', name='mdpUtilisateur', placeholder="Mot de passe")

            p
                br
                input(type="submit" value="Connexion")

            p
                br
                a(href="/utilisateur/inscription") Par encore inscrit ? Créer un compte.
