extends layout
block titre
  h2 Accueil
block content
  .paraph
    p Bienvenue sur Anarque.com, le site e-commerce du coin.
    p Vous trouverez tout et n'importe quoi sur ce site, c'est le paradis de vente.


