doctype html
html(lang='fr')
  head
    title Arnaque.com
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    #corps
      header
        a(href="/")
          img(src='', alt='non disponible', height='75', width='75')

        h1 Arnaque.com

        nav
          ul
            li
              a(href="/") Accueil
            li
              a(href="/produits") Produit
            li
              a Catégorie
            li
              a Recherche
            li
              a Mon panier
            li
              a Mon profil
            li
              a Identification
      #gauche
        p  Bonjour gauche
        p  ppppppp ppppppppp ppppppppp pppppp ppppppp pppppppppppp ppppppppp pppppppppppp ppppppp pppppppppppp pppppppp
        p  ppppppp ppppppppp ppppppppp pppppp ppppppp pppppppppppp ppppppppp pppppppppppp ppppppp pppppppppppp pppppppp
      #droite
        p  Bonjour droite
        p  ppppppp ppppppppp ppppppppp pppppp ppppppp pppppppppppp ppppppppp pppppppppppp ppppppp pppppppppppp pppppppp
        p  ppppppp ppppppppp ppppppppp pppppp ppppppp pppppppppppp ppppppppp pppppppppppp ppppppp pppppppppppp pppppppp
      #main
        block titre
        p  Bonjour main
        block content
        p  ppppppp ppppppppp ppppppppp pppppp ppppppp pppppppppppp ppppppppp pppppppppppp ppppppp pppppppppppp pppppppp
        p  ppppppp ppppppppp ppppppppp pppppp ppppppp pppppppppppp ppppppppp pppppppppppp ppppppp pppppppppppp pppppppp
        p  ppppppp ppppppppp ppppppppp pppppp ppppppp pppppppppppp ppppppppp pppppppppppp ppppppp pppppppppppp pppppppp
        p  ppppppp ppppppppp ppppppppp pppppp ppppppp pppppppppppp ppppppppp pppppppppppp ppppppp pppppppppppp pppppppp
        p  ppppppp ppppppppp ppppppppp pppppp ppppppp pppppppppppp ppppppppp pppppppppppp ppppppp pppppppppppp pppppppp
        p  ppppppp ppppppppp ppppppppp pppppp ppppppp pppppppppppp ppppppppp pppppppppppp ppppppp pppppppppppp pppppppp

      footer
        p Le Bourrin