doctype html
html(lang='fr')
  head
    title Arnaque.com
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    #corps
      header
        a(href="/")
          img(src='', alt='non disponible', height='75', width='75')

        h1 Arnaque.com

        nav
          ul
            li
              a(href="/") Accueil
            li
              a(href="/produits") Produit
            li
              a(href="/produits/categories") Catégories
            li
              a(href="/produits/recherche") Recherche
            li
              a(href="/utilisateur/panier") Mon panier
            li
              a(href="/utilisateur/profil") Mon profil
            li
              a(href="/utilisateur/inscription") Identification
      #gauche
        p  Bonjour gauche
      #droite
        p  Bonjour droite
      #main
        block titre
        block content
      footer
        p Le Bourrin