body,html {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #DDD;
  color: #FBF2B7;
  font-family: Arial;
}

html {
  height: 100%;
}

body {
  position : relative;
  min-height: 100%;
}

#corps {
  /*background-color: cornflowerblue;*/
  background-image: url("http://images.frandroid.com/wp-content/uploads/2016/02/galaxy-s7-edge-2-knox.jpg");
  width: 100%;
  margin: 0 auto;
  position : relative ;

}

header {
  background-color: #FBF2B7;
  overflow: auto;
}

header img {
  float : left;
  top:3px;
  clear:both;

}

nav {
  position: static;
  background-color : #111111;
  width : auto; ;
  clear : both;
  text-align: center;
}

nav li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul {
  padding:0;margin:0;}
nav a {
  text-decoration : none;display : block;padding:20px;
  color : #FBF2B7
}
nav a:hover{
  background-color:#FBF2B7;color : #FF0000;}

#gauche {
  background-color: #FBF2B7;
  float: left;
  width : 20%;
  height: 700px;
  margin-left : 1%;
  margin-right: 1%;
}

#gauche:after {
  content: ""; /* Important, sinon l'élément n'est pas généré. */
  display: table;
  clear: both;
}

#main {
  /*background-color: #0E0; */
  /*background-image: url("http://images.frandroid.com/wp-content/uploads/2016/02/galaxy-s7-edge-2-knox.jpg");*/
  float:left;
  align-content: center;
  width: 56%;
}

#main h2 {
  text-align: center;
  padding : 20px;
  border-bottom: 4px groove #FBF2B7;
  margin : 0 auto;
}

#main:after {
  content: "";
  display: table;
  clear: both;
}

#droite {
  /*background-color: #FF8800;*/
  background-color: #FBF2B7;
  float: right;
  width : 20%;
  overflow: auto;
  color : #111111;
  margin-left : 1%;
  margin-right: 1%;
}

#droite:after {
  content: ""; /* Important, sinon l'élément n'est pas généré. */
  display: table;
  clear: both;
}

.produit {
  border : 1px groove #FBF2B7;
  width: 30%;
  float : left;
  margin : 10px;
}

.navProd {
  border : 1px groove #111111;
  margin : 10px;
  text-align: center;
}

.produitDetail {
}

.navProd ul{
  padding-left: 10px;
  list-style : none;
  padding : 0;
  margin:0;
}

.produit ul{
   padding-left: 10px;
   list-style : none;
   padding : 0;
   margin:0;
 }

#main:first-letter {
  font-size:2rem;
  font-weight:bold;
}

.produit img {

  float : left;
  margin-left: 5px;
  margin-right: 15px;
  margin-bottom: 10px;

}

.headerProduit {

  border-bottom : 1px groove #FBF2B7;
  padding: 5px;
}

.navHeader {
  border-bottom : 1px groove #111111;
  padding: 5px;
}

footer {
  background-color: #444444;
  width: auto;
  overflow: auto;
  clear : both;
}

h1 {
  color: #EE0000;

}

h3 {

  margin : 0 ;

}

h3:first-letter{
  font-size:1.5rem;
  font-weight:bold;
}

a {
  color: #EE0000;
}

p.p_desc {
  clear : both ;
  margin-top : 30px;
}

footer {
  padding : 15px;
  padding-right: 30px;
  border-top : 1px groove #FBF2B7 ;
  background-image: url("http://2.bp.blogspot.com/-tu9IiXvfUZ4/U8En0gxX1pI/AAAAAAAAfXs/dusgGKLlOB4/s1920/Walls_Galaxy_S5_123.jpg");
}

footer p {
  margin : 0px;
  color: #FFFFFF;
  text-align: end;
  font-style: italic;
}

.paraph {
  padding : 25px;
  text-align: center;
}

.produitDetail {
  text-align: justify;
}

.produitDetail ul {
  float: left;

}

.produitDetail img {
  float: left;
  margin : 5px;
  padding : 1px;
  border: 1px solid #FBF2B7;
  /*background-color: #FBF2B7;*/
}

